<html>
  <head>
    <title>musicToMyEarz</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">   
      <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
      <style>
        p {
          font-size: 20px;
        }
        .keys {
          display: flex;
        }
        .key {
          padding-right: 25px;
        }
      </style>
  </head>

  <body class='container' style='padding-top:50px;padding-bottom:100px;'>
    <form action="http://localhost:5000/analyze" method="post"> 
      <h2 style='margin-bottom:40px;'>Welcome to MusicToMyEarz!</h2> 
      <p>Name: <input type="text" name="name" /></p> 
      <p>Genre: <input type="text" name="genre" /></p> 
      <!-- <p>Acousticness: <input type="text" name="acousticness" /></p>  -->
      <p class="range-field">Acousticness: 
        <input type="range" name="acousticness" min="0" max="100" />
      </p>
      <p class="range-field">Danceability: 
        <input type="range" name="danceability" min="0" max="100" />
      </p> 
      <p class="range-field">Duration (in sec): 
        <input type="text" name="duration" />
      </p> 
      <p class="range-field">Energy: 
        <input type="range" name="energy" min="0" max="100" />
      </p> 
      <p class="range-field">Instrumentalness: 
        <input type="range" name="instrumentalness" min="0" max="100" />
      </p> 
      <!-- <p>Key: <input type="text" name="key" /></p>  -->
      <p class="range-field" style="margin-bottom:0">Key:  </p>
      <div class="keys">
        <p class="key">
          <input class="with-gap" name="key" value="C" type="radio" checked />
          <span>C</span>
        </p>
        <p class="key">
          <input class="with-gap" name="key" value="C#" type="radio" />
          <span>C#</span>
        </p>
        <p class="key">
          <input class="with-gap" name="key" value="D" type="radio" />
          <span>D</span>
        </p>
        <p class="key">
          <input class="with-gap" name="key" value="D#" type="radio" />
          <span>D#</span>
        </p>
        <p class="key">
          <input class="with-gap" name="key" value="E" type="radio" />
          <span>E</span>
        </p>
        <p class="key">
          <input class="with-gap" name="key" value="F" type="radio" />
          <span>F</span>
        </p>
      </div>
      <div class="keys">
        <p class="key">
          <input class="with-gap" name="key" value="F#" type="radio" />
          <span>F#</span>
        </p>
        <p class="key">
          <input class="with-gap" name="key" value="G" type="radio" />
          <span>G</span>
        </p>
        <p class="key">
          <input class="with-gap" name="key" value="G#" type="radio" />
          <span>G#</span>
        </p>
        <p class="key">
          <input class="with-gap" name="key" value="A" type="radio" />
          <span>A</span>
        </p>
        <p class="key">
          <input class="with-gap" name="key" value="A#" type="radio" />
          <span>A#</span>
        </p>
        <p class="key">
          <input class="with-gap" name="key" value="B" type="radio" />
          <span>B</span>
        </p>
      </div>
      <p class="range-field">Liveness: 
        <input type="range" name="liveness" min="0" max="100" />
      </p>
      <p class="range-field">Loudness: 
        <input type="range" name="loudness" min="0" max="100" />
      </p> 
      <p>Mode: <input type="text" name="mode" /></p> 
      <p class="range-field">Speechiness: 
        <input type="range" name="speechiness" min="0" max="100" />
      </p> 
      <p class="range-field">Tempo: 
        <input type="range" name="tempo" min="0" max="100" />
      </p> 
      <p class="range-field">Time Signature: 
        <input type="range" name="time_signature" min="0" max="100" />
      </p> 
      <p class="range-field">Valence: 
        <input type="range" name="valence" min="0" max="100" />
      </p> 
      <p><input type="submit" value="submit" /></p> 
   </form>  
  </body>
</html>
